.login-container {
  margin: 8rem auto;
  padding: 1.5rem 1.2rem;
  border: dotted 2px #646cff;
  border-radius: 10px;
}

.login-container h3 {
  font-family: "Tagesschrift", system-ui;
  font-size: 4rem;
  color: rgb(252, 188, 12);
  margin: 2rem;
}

.login-form div {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login-form > p {
  margin-top: 2rem;
}
.login-form > button {
  margin-top: 2rem;
}
